<main id="playlist">
<<<<<<< HEAD
    <button>
        <a href="/plays3/play1"><span>Playlist 1</span></a>
    </button>

    <button>
        <a href="/plays3/play2"><span>Playlist 2</span></a>
    </button>

    <button>
        <a href="/plays3/play3"><span>Playlist 3</span></a>
=======
    <button class="buton-play">
        <a href="/plays3/play1" class="link-play"><span class="span-play">Playlist 1</span></a>
    </button>

    <button class="buton-play">
        <a href="/plays3/play2" class="link-play"><span class="span-play">Playlist 2</span></a>
    </button>

    <button class="buton-play">
        <a href="/plays3/play3" class="link-play"><span class="span-play">Playlist 3</span></a>
>>>>>>> 15614a6d740f4c151c7474df2fbea76496f6e5ad
    </button>
</main>