<main id="playlist">
    <button class="buton-play">
        <a href="/plays3/play1" class="link-play"><span class="span-play">Playlist 1</span></a>
    </button>

    <button class="buton-play">
        <a href="/plays3/play2" class="link-play"><span class="span-play">Playlist 2</span></a>
    </button>

    <button class="buton-play">
        <a href="/plays3/play3" class="link-play"><span class="span-play">Playlist 3</span></a>
    </button>
</main>