<body>
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Musculação</h1>
            <table class="table-treino">
                <tr><th class="tipo-info">Tipo</th><th class="tipo-info">Exercícios</th><th class="tipo-info">Séries</th><th class="tipo-info">Repetições</th><th class="tipo-info">Aplicabilidade</th></tr>
                <tr><td>Peito</td><td>[Flexão][Flexão Inclinada]</td><td>4</td><td>20</td><td>Fortalecer o peito ajuda na estabilidade dos ombros, melhora a postura e contribui para uma aparência mais definida do tronco.</td></tr>
                <tr><td>Costas</td><td>[Barra Fixa][Barra Fixa Pronada]</td><td>4</td><td>15</td><td> Isso é importante para a postura,  o desenvolvimento muscular e melhora a força em movimentos de puxar, essenciais em várias atividades do dia a dia.</td></td>
                <tr><td>Pernas</td><td>[Agachamento][Agachamento com Salto]</td><td>5</td><td>20</td><td>Esse treino é fundamental para estabilidade e mobilidade, além de ser essencial para a saúde das articulações do joelho e quadril. Treinar pernas também tem um impacto positivo no metabolismo e no equilíbrio corporal.</td></tr>
                <tr><td>Ombro</td><td>[Elevação Lateral]</td><td>4</td><td>15</td><td>Ombros fortes ajudam a prevenir lesões e são essenciais para manter o alinhamento e a simetria do tronco.</td></tr>
                <tr><td>Abdomên</td><td>[Abdominal]</td><td>5</td><td>30</td><td>Estética</td></tr>
                <tr><td>Braços</td><td>[Rosca][Flexão Diamente][Martelo]</td><td>4</td><td>15</td><td>Desenvolver força nos braços e são importantes para dar suporte em exercícios de empurrar e puxar, além de auxiliar em várias atividades diárias.</td></tr>
            </table>
    </div>
    <div class="conjunto-botao">
        <button class="btn-table">
            <a href="/users/treino">
              <span class="span-table">Voltar</span>
            </a>
        </button>
        <button class="btn-table">
            <a href="">
              <span class="span-table">Exemplos</span>
            </a>
        </button>
    </div>
</body>